body{
    margin: 0;
    padding: 0;
    background-color: lightblue;
    background-color: #327bb873;
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
}

.body
{
    background-color: #327bb873;   
}
/* header */
.header{
    width: 1348px;
    width: 100%;
    height: 90px;
    background: #fff;
    background-color: #187ed2;
    color: #000;
    top: 0%;
    position: relative;
}

.img{
    width: 220px;
    height: 90px;
    position: absolute;
    left: 4%;
}

/* center box */
.loginbox{
    width: 600px;
    height: 540px;
    border-radius: 25px;
    background: #fff;
    color: #000;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 70px 30px;
    box-shadow: 3px 3px 10px #000;
}

/* center image */
.avatar{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
    box-shadow: 3px 3px 10px #000;
}

h1{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 30px;
}

.loginbox p{
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.loginbox input{
    width: 100%;
    margin-bottom: 20px;
}

.loginbox input[type="text"], input[type="password"]
{
    border: none;
    border-bottom: 1px solid #000;
    background: transparent;
    outline: none;
    height: 40px;
    color: rgb(0, 0, 0);
    font-size: 16px;
}

.loginbox input[type="submit"]
{
    border: none;
    outline: none;
    height: 40px;
    background: #536758;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
    background-color: #19537a;
}


/* forgot password link */
.avatar2{
    text-align: left;
    position: relative;
    left: 120px;
    /* text-decoration: none; */
    font-size: 15px;
    line-height: 20px;
    color: rgb(12, 11, 11);
    color: rgb(19, 100, 171);
}

/* change password link */
.avatar3{
    text-align: end;
    position: relative;
    left: 200px;
    /* text-decoration: none; */
    font-size: 15px;
    line-height: 20px;
    color: rgb(12, 11, 11);
    color: rgb(19, 100, 171);
}

.loginbox a:hover{
    color: #2c5d70;
}

.newvoter
{
    position: relative;
    left: 35%;
    color: rgb(19, 100, 171);
}
















